<a href="https://colab.research.google.com/github/marciocardoso123/DATASCIENCE-/blob/main/Projeto_Titanic_Ciencia_de_Dados_MarcioCardoso.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#Titanic
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [5]:
#Inspecionar dataset 
#colunas
#tipos
#nulos
#dados faltando
df = pd.read_csv('/content/train.csv')

In [6]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
#importando só colunas que serão usadas
traindf = pd.read_csv('train.csv', usecols=['PassengerId','Survived','Pclass'])

In [8]:
traindf.head()

   PassengerId  Survived  Pclass
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

In [9]:
#Criando um unico dataset com 2 csv
traindf = pd.read_csv('/content/train.csv')
testdf = pd.read_csv('/content/test.csv')
df = [traindf,testdf]
full_df = pd.concat(df)

In [10]:
full_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [11]:
#Conferirndo o tm dos dataset separados
traindf.shape,testdf.shape

((891, 12), (418, 11))

In [12]:
#Conferindo o tm do dataset
full_df.shape

(1309, 12)

In [13]:
type(full_df)

pandas.core.frame.DataFrame

In [14]:
#Conferindo tipos e dados
full_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  1309 non-null   int64
 1   Survived     891 non-null    float64
 2   Pclass       1309 non-null   int64
 3   Name         1309 non-null   object
 4   Sex          1309 non-null   object
 5   Age          1046 non-null   float64
 6   SibSp        1309 non-null   int64
 7   Parch        1309 non-null   int64
 8   Ticket       1309 non-null   object
 9   Fare         1308 non-null   float64
 10  Cabin        295 non-null    object
 11  Embarked     1307 non-null   object
dtypes: float64(3), int64(4), object(5)
memory usage: 132.9+ KB

In [15]:
#Inspecionando o csv train
df = traindf

In [16]:

#tipos de dados das colunas
df.dtypes
#tm dataset
df.shape
#Sumário extatistico das colunas
df.describe().T 
#Multiplica qtd linhas por colunas
df.size
#qnt dimensões do df
df.ndim
#contando valores unicos
df.nunique()
#contando valores unicos na coluna age
df['Age'].nunique()
#valores unicos em 2 ou mais colunas
df[['Age','Sex']].nunique()

Age    88
Sex     2
dtype: int64

In [17]:
#Contagem de valores em colunas que possue tipos distintos nelas como sexo
df['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [18]:
#Quantas pessoas embarcaram nas areasde embarque
df['Embarked'].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [19]:
#mudar tipos de colunas
df['Embarked'] = df['Embarked'].astype('category')
df['Embarked'].dtype

CategoricalDtype(categories=['C', 'Q', 'S'], ordered=False)

In [20]:
df['Survived'] = df['Survived'].astype('category')
df['Survived'].dtype

CategoricalDtype(categories=[0, 1], ordered=False)

In [22]:
#Sorting
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
#Ordenar pelas pessoas que pagaram o menor valor para viajar no titanic
df.sort_values('Fare')

In [ ]:
##Ordenar pelas pessoas que pagaram o maior valor para viajar no titanic
df.sort_values('Fare',ascending=False)

In [ ]:
#Ordenando por cabine
df.sort_values('Cabin',ascending=False, na_position='last')

In [ ]:
#descobrindo os valores unicos de uma coluna
df.Sex.unique()

In [ ]:
#filtrar numero por sexo
df['Sex'].value_counts()

In [ ]:
#apenas masculinos
df[df['Sex']== 'male']
 #df.loc[df['Sex'] == 'male']
 #df.query("Sex == 'mal'").shape

In [ ]:
#tm do df masculino
df[df['Sex']== 'male'].shape

In [ ]:
#Feminino
df[df['Sex']== 'female']

In [ ]:
#Filtros Multiplos
smale = df['Sex']== 'male'
sfemale = df['Sex']== 'female'
print(df[smale].shape)
print(df[sfemale].shape)

In [ ]:
#qnt pessoas de cada idade
df['Age'].value_counts()

In [36]:
#qnt mulheres com 30 anos ou mais
df[(df.Sex == 'female') & (df.Age >= 30)].shape

(114, 12)

In [52]:
#qnt meninas de 0 a 6 anos no naufragio
#meninas = df[(df.Sex == 'female') & (df.Age <= 6)]
meninas = df[(df.Sex == 'female') & (df.Age <= 6)].shape

In [57]:
#qnt homens maiores de 18 anos
df_male = (df.Sex == 'male') & (df.Age > 18)

In [ ]:
#Quem pagou mais de 500 ou maior de 60 anos
df_fare = df['Fare'] > 500
df_age = df['Age'] >= 60
df[df_fare | df_age]

In [ ]:
#Homens com mais de 30 anos que embarcaram do porto S 
df[(df['Sex'] == 'male') & (df['Age']>=30) & (df['Embarked'] == 'S')]

In [ ]:
#Mulheres entre 30 e 40 anos que embarcaram no porto C 
df[(df['Sex'] == 'female')  &   ((df['Age'] > 30) & (df['Age'] < 40))   &  (df['Embarked'] == 'C')].value_counts

In [68]:
#Crianças até 10 anos que embarcaram no porto S 
df[(df['Sex'] == 'female')  &   (df['Age'] < 11)   &  (df['Embarked'] == 'C')].value_counts

<bound method DataFrame.value_counts of      PassengerId Survived  Pclass                                      Name  \
43            44        1       2  Laroche, Miss. Simonne Marie Anne Andree
381          382        1       3               Nakid, Miss. Maria ("Mary")
448          449        1       3            Baclini, Miss. Marie Catherine
469          470        1       3             Baclini, Miss. Helene Barbara
644          645        1       3                    Baclini, Miss. Eugenie
691          692        1       3                        Karun, Miss. Manca
852          853        0       3                   Boulos, Miss. Nourelain

        Sex   Age  SibSp  Parch         Ticket     Fare Cabin Embarked
43   female  3.00      1      2  SC/Paris 2123  41.5792   NaN        C
381  female  1.00      0      2           2653  15.7417   NaN        C
448  female  5.00      2      1           2666  19.2583   NaN        C
469  female  0.75      2      1           2666  19.2583   NaN        C
644  female  0.75      2      1           2666  19.2583   NaN        C
691  female  4.00      0      1         349256  13.4167   NaN        C
852  female  9.00      1      1           2678  15.2458   NaN        C  >